.title {
    zoom: 1.8;
    display: block;
    text-align: center;
    margin: 15px;
}


.comment-textarea{
    resize: none;
    max-height: 70px;
    height: 70px;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.add-timelog-block{
    margin: auto 180px;
    margin-top: 60px;
}

.add-button {
    float: right;
    margin-right: 190px;
}

#time-logs-table th,
#time-logs-table td {
    text-align: center;
}